* {
  outline: none;
  text-decoration: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  background-color: rgb(182, 139, 0);
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  font-family: allotrope, sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

noscript {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.685);
  overflow: hidden;
  position: absolute;
  color: white;
  font-size: 3em;
}
noscript span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 900;
}

.wrapper {
  display: flex;
  justify-content: center;
}

#shop {
  background: rgb(112, 90, 0);
  float: left;
  height: 100vh;
  width: 300px;
  color: white;
}

.shop-header {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}

.shop-item {
  height: 60px;
  width: 100%;

  cursor: pointer;

  padding: 5px 0px; margin: 25px 0;

  background: rgba(61, 61, 61, 0.507);

  -webkit-box-shadow: 31px 20px 43px -14px rgba(48, 48, 48, 0.72);
  -moz-box-shadow: 31px 20px 43px -14px rgba(48, 48, 48, 0.72);
  box-shadow: 31px 20px 43px -14px rgba(48, 48, 48, 0.72);

}

.shop-item:active {
    border: outset black;
    border-width: 2px 0 2px 0;
}

.shop-item-name {
  float: right;
  padding: 0 10px 0 0;
  font-size: 20px;
  font-weight: 800;
}

.shop-item-cost {
  float: right;
  padding: 0 10px 0 0;
  font-size: 20px;
  font-weight: 800;
}

.shop-item-img {
    width: 72px;
    height: auto;
    margin-top: -34px;
}

.buyed {
  position: fixed;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  top: 30px;
  width: 300px;
  background: green;
  opacity: 0;
  z-index: 99999;
  transform: translateY(60px);
}

.buyed-animate {
  animation: buyed 4s ease-in-out;
}

@keyframes buyed {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}

#error {
  position: fixed;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  top: 30px;
  width: 300px;
  background: red;
  opacity: 0;
  z-index: 99999;
  transform: translateY(60px);
}

#clicker {
  width: 60%;
  margin: 0 auto;
}

#ergebnis {
  margin: 100px 0 0 0 !important;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}

#autoclick-div {
  text-align: center;
  font-size: 1.3em;
  font-weight: 900;
}

#Cookie {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
}

#cookie-svg {
  cursor: url('../img/cursor/cookie.png'), auto;
  height: auto;
  width: 550px;
  animation: cookie-rotate 30s linear infinite;
}

.cookie-svg-click {
  transform: scale(0.8);
}

@keyframes cookie-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes GoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes slideanimation {
  0% {
    top: -520px;
    z-index: -1;
  }
  100% {
    top: 1500px;
    z-index: -1;
  }
}

#cookies-bg {
  position: fixed;
  z-index: -1;
  pointer-events: none;
}

.volume i{
  position: absolute;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  font-size: 3em;
}

/*Author: www.blackdayz.de*/
#author {
  position: absolute;
  right: 20px;
  bottom: 0;
  font-weight: 700;
  z-index: 99999;
}
#author a {
  color: black;
}

#profile-button {
  margin: 20px 20px 0 0;
  font-weight: 900;
  font-size: 3em;
  transform: translateX(-50px);
  cursor: pointer;
  position: absolute;
}

#profile-stats {
  position: absolute;
  /* transform: translateX(400px); */
  right: -400px;
  top: 50px;
  width: 400px; max-width: 400px;
  height: 600px; max-height: 1000px;
  border-top-left-radius: 10px;border-bottom-left-radius: 10px;
  background-color: rgba(8, 8, 8, 0.76);
  transition: 0.4s ease-in-out;
}

#profile-close {
  cursor: pointer;
  margin: 20px 0 0 20px;
  width: 50px;
  font-size: 3em;
  color: white;
}

.profile-header p{
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: 900;
}

.profile-stats-detail {
  color: white;
  line-height: 50px;
  text-align: center;
}
.profile-stats-detail span {
  font-weight: 900;
  font-size: 1.3em;
  color: red;
}

.profile-stats-show {
  right: 0 !important;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}
